    <!--page loader-->
<div class="pg-loader"></div>
<!--/page loader-->
<div>
    <!--header start here-->
    <header id="header">
        <div class="top-header menubar">
            <div class="container">
                <div class="row">
                    <!--<div class="col-lg-4 col-md-5 col-sm-12 col-9 align-self-center">
                        <div class="logo-hldr">
                            <a href="index.html"><img src="/ContentRepository/images/logo.png" class="img-fluid" alt=""/></a>
                        </div>
                    </div>-->

                    <div class="col-lg-12 align-self-center">

                        <div class="navSection">
                            <nav class="navbar navbar-expand-lg">
                                <a class="navbar-brand" href="https://www.fightdiabetes.co.in/">
									<img src="/ContentRepository/images/logo.png" class="img-fluid" alt="Fight Diabetes: Dr Sudipta Dutta" />
								</a>

                                <!--<button class="navbar-toggler collapsed ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>

                                <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                    <ul class="navbar-nav menu-nav ml-lg-auto text-right-lg mx-md-auto text-md-centre">
                                        <li class="nav-item"><a class="nav-link active" href="#home-mn">Home</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#care">Care</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#service">Service</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#gallery">Gallery</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#blog">My Blog</a></li>-->
                                <!--<li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Categories </a>
                                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                      <a class="dropdown-item" href="#">menu 1</a>
                                      <a class="dropdown-item" href="#">menu 2</a>
                                   </div>
                                </li>-->
                                <!--<li class="nav-item"><a class="nav-link" href="#contact">Contact Us</a></li>
                                    </ul>
                                </div>-->

                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--/header end here-->
    <!--body section start here-->
    <main class="body-div">

        <!--inner page area-->
        <section class="slider-cus" id="home-mn">
            <div class="ser-banner-pan banner-pan">
                <img src="/ContentRepository/images/banner-inner.jpg" class="img-fluid img-full" alt="Banner Fight Diabetes" />
                <div class="banner-pan-inr-hldr2">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <h1>My Blogs</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--/inner page area-->
        <!--service page start section-->
        <section class="service-pannal pb-0" id="servicesection">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <ul id="tabs" class="nav nav-tabs" role="tablist">
                            <li class="nav-item" ng-repeat="service in myInfoData.blogDetails">
                                <a id="{{serviceTabPrefixes.tab + service.Id}}" href="{{serviceTabPrefixes.paneid + service.Id}}" class="nav-link" data-toggle="tab" role="tab" target="_self" ng-click="forceChanegUrl(service.SeoUriPart, service.Id);">
                                    <!--<i class="demo-icon icon-icon12"></i>-->{{service.Header}}
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-8">
                        <div id="content" class="tab-content" role="tablist">
                            <div id="{{serviceTabPrefixes.pane + service.Id}}" class="card tab-pane fade" role="tabpanel" aria-labelledby="{{serviceTabPrefixes.tab + service.Id}}" ng-repeat="service in myInfoData.blogDetails">
                                <div class="card-header" role="tab" id="{{serviceTabPrefixes.heading + service.Id}}">
                                    <h5 class="mb-0">
                                        <a data-toggle="collapse" href="{{serviceTabPrefixes.collapseid + service.Id}}" data-parent="#content" aria-expanded="true" aria-controls="{{serviceTabPrefixes.collapse + service.Id}}" target="_self" ng-click="forceChanegUrl(service.SeoUriPart, service.Id);">
                                            <!--<i class="demo-icon icon-icon12"></i>-->{{service.Header}}
                                        </a>
                                    </h5>
                                </div>

                                <div id="{{serviceTabPrefixes.collapse + service.Id}}" class="collapse" role="tabpanel" aria-labelledby="{{serviceTabPrefixes.heading + service.Id}}">
                                    <div class="card-body">
                                        <img src="{{service.BaseImageUrl}}" class="img-fluid" alt="" />
                                        <div ng-bind-html="trustHtml(service.FullContentText)"></div>
                                        <div class="row">
                                            <div class="owl-carousel owl-theme owl-demo1">
                                                <div class="item" ng-repeat="serviceImage in service.OtherImagesUrl">
                                                    <div class="gallery-box gal-box-inr-cus">
                                                        <a href="{{serviceImage}}" target="_self" class="lightboximage">
                                                            <img src="{{serviceImage}}" class="img-fluid img-full" alt="Diabetes Care" />
                                                            <span class="zoom-box"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--service page end section-->
        <!--give your comment section-->
        <section class="comment-pannal" style="display:none;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="comment-pannal-hldr">
                            <h4>Give your</h4>
                            <h1>Comment</h1>

                            <input id="input-21f" value="2" type="text" class="rating" data-min=0 data-max=5 data-step=0.5 data-size="sm"
                                   title="">

                            <h3>Rate Me</h3>


                            <div class="add-com-but">
                                <a href="#collapseExample" data-toggle="collapse" role="button" aria-expanded="false">Add Comment</a>
                            </div>

                        </div>
                    </div>



                    <div class="col-lg-12">
                        <div class="comment-pan-inr collapse" id="collapseExample">
                            <h4>Add Your Review Here</h4>
                            <form>
                                <div class="row justify-content-center py-3">
                                    <div class="col-md-12">
                                        <div class="textarea-div">
                                            <textarea class="form-control form-con-cus" rows="4"></textarea>
                                        </div>
                                    </div>
                                </div>


                                <div class="submit-div">
                                    <input class="" type="submit" value="submit">
                                </div>
                            </form>


                            <div class="review-rating-pan">
                                <div class="review-field">
                                    <div class="d-flex align-items-center">
                                        <ul class="star-rting">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>

                                        <p class="client-nm-dt">By R. Adhikary, 20 April, 2020</p>
                                    </div>

                                    <p>Lorem Ipsum is simply dummy text</p>

                                </div>
                            </div>



                            <div class="review-rating-pan">
                                <div class="review-field">
                                    <div class="d-flex align-items-center">
                                        <ul class="star-rting">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star gray"></i></li>
                                        </ul>

                                        <p class="client-nm-dt">By B.Das, 18 April, 2020</p>
                                    </div>

                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>

                                </div>
                            </div>



                            <div class="review-rating-pan">
                                <div class="review-field">
                                    <div class="d-flex align-items-center">
                                        <ul class="star-rting">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star gray"></i></li>
                                            <li><i class="fa fa-star gray"></i></li>
                                        </ul>

                                        <p class="client-nm-dt">By Arnab Mukherjee, 17 April, 2020</p>
                                    </div>

                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>

                                </div>
                            </div>


                            <div class="review-rating-pan">
                                <div class="review-field">
                                    <div class="d-flex align-items-center">
                                        <ul class="star-rting">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star gray"></i></li>
                                        </ul>

                                        <p class="client-nm-dt">By Payal Chatterjee, 16 April, 2020</p>
                                    </div>

                                    <p>Good Product</p>

                                </div>
                            </div>


                            <div class="review-rating-pan">
                                <div class="review-field">
                                    <div class="d-flex align-items-center">
                                        <ul class="star-rting">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star gray"></i></li>
                                            <li><i class="fa fa-star gray"></i></li>
                                        </ul>

                                        <p class="client-nm-dt">By Anup Basu, 10 April, 2020</p>
                                    </div>

                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>

                                </div>
                            </div>


                        </div>
                    </div>


                </div>
            </div>
        </section>
        <!--/give your comment section-->

    </main>
    <!--/body section end here-->
    <!--footer start here-->
    <footer id="contact">
        <!--contact us section pannal-->
        <section class="cont-pan">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-5">
                        <div class="location-hldr">
                            <h2>Contact Us</h2>
                            <span>For Consultation & Health Check Ups</span>

                            <div class="hosp-location-hldr">
                                <h4>{{myInfoData.chamberDetails[activeChamberIndex].NameOfChamber}}</h4>

                                <p class="pb-0">{{myInfoData.chamberDetails[activeChamberIndex].LocationOfChamber}}</p>
                                <br />
                                <p ng-repeat="chmbrTime in myInfoData.chamberDetails[activeChamberIndex].chamberTimes">{{chmbrTime.DaysOfChamber}} {{chmbrTime.TimingsOfChamber}}</p>
                                <br />
                                <div class="my-2">
                                    <div ng-bind-html="trustHtml(myInfoData.chamberDetails[activeChamberIndex].Address)"></div>
                                </div>
                            </div>
                            <div class="appointment-but-div mb-5">
                                <input class="appointment-but" type="button" value="Get online Appointment" data-toggle="modal" data-target="#appointment-box">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-7 col-md-7">
                        <div class="google-map">
                            <iframe id="mapView" ng-src="mapURL" width="100%" frameborder="0" style="border:0; border-radius:0 60px; box-shadow:2px 2px 8px rgba(153,153,153,0.75);" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--/contact us section pannal-->
        <!--our chambers-->
        <section class="chambers-pan">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="chamber-hldr-hd">
                            <h1>Other Chambers</h1>
                        </div>
                    </div>
                    <div class="col-lg-4" ng-repeat="chamber in myInfoData.chamberDetails" ng-show="activeChamberIndex!=$index">
                        <div class="chamber-box">
                            <h5>{{chamber.NameOfChamber}}</h5>
                            <p>{{chamber.LocationOfChamber}}</p>
                            <br />
                            <p ng-repeat="chmbrTime in chamber.chamberTimes">{{chmbrTime.DaysOfChamber}} {{chmbrTime.TimingsOfChamber}}</p>
                            <br />
                            <div ng-bind-html="trustHtml(chamber.Address)"></div>
                            <div class="view-map-but-div">
                                <a href="javascript:void(0)" ng-click="changeActiveChamber($index);$event.stopPropagation()">View Map</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--/our chambers-->
        <!--disclaimer pannal-->
        <section class="disclaimer-pan">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="disclaimer-hldr-inr">
                            <h4>Important</h4>
                            <h2>Disclaimer</h2>

                            <div class="disclaimer-hldr-text-box">
                                <p ng-bind-html="trustHtml(myInfoData.userInfo.Disclaimer)"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--/disclaimer pannal-->
        <!--copyright section pannal-->
        <section class="copyright-pan">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright-hldr">
                            <p>&copy; {{myInfoData.userInfo.Name}} {{getCurrentYear()}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--/copyright section panna-->
    </footer>
    <!--/footer end here-->
    <!--The modal for get online appointment-->
    <div class="modal fade" id="appointment-box" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md" style="max-width:600px;">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header modal-header-cus">
                    <h4 class="modal-title mb-2">Get Appointment</h4>
                    <button type="button" class="close" data-dismiss="modal"><img src="/ContentRepository/images/cross.png" alt="Get Appointment" /></button>

                </div>

                <!-- Modal body -->
                <div class="modal-body modal-body-cus">
                    <div class="row">

                        <!--tab section-->
                        <div class="tab-listing">
                            <div class="d-flex justify-content-center">
                                <ul class="nav nav-pills">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="pill" href="#tabB1" target="_self">Online Consultation</a>
                                    </li>

                                    <!--<li class="nav-item">
                                        <a class="nav-link" data-toggle="pill" href="#tabB2" target="_self">Book A Clinic Visit</a>
                                    </li>-->
                                </ul>
                            </div>


                            <!-- Tab panes -->
                            <form>
                                <div class="tab-content">

                                    <!--tab 1-->
                                    <div class="tab-pane container active" id="tabB1">
                                        <div class="col-md-12">
                                            <div class="oc-thirdparty-cont">
                                                <a href="https://docon.co.in/doctor/sudiptadutta" target="_blank" rel="nofollow">
                                                    <img src="/ContentRepository/images/docon.png" alt="Docon" />
                                                </a>
                                                <a href="https://www.lybrate.com/kolkata/doctor/dr-sudipta-dutta-diabetologist" target="_blank" rel="nofollow">
                                                    <img src="/ContentRepository/images/lybrate.png" alt="Lybrate" />
                                                </a>
                                                <a href="https://remedoapp.com/rweb/doctors/dr-sudipta-dutta/consult" target="_blank" rel="nofollow">
                                                    <img src="/ContentRepository/images/remedo.svg" alt="Remedo" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/tab 1-->
                                    <!--tab 2-->
                                    <div class="tab-pane container fade" id="tabB2">
                                        <div class="row justify-content-center">
                                            <div class="col-md-10">
                                                <div class="client-visit-hldr">
                                                    <p>Services currently Unavailable for</p>

                                                    <div class="pt-4">
                                                        <img src="/ContentRepository/images/covid19-lockdown.jpg" class="img-fluid" alt="Covid-19-Lockdown" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/tab 2-->
                                    <!--<div class="tab-pane container fade" id="menu2"><strong>Client's Logo here section</strong></div>-->
                                </div>
                            </form>
                            <!-- /Tab panes -->

                        </div>
                        <!--/tab section-->

                    </div>
                </div>

                <!-- Modal footer -->
                <!--<div class="modal-footer modal-footer-cus">
                      <div class="w-100 mx-0 mb-3">
                          <input type="submit" value="book appoinment" class="but-cus">
                      </div>
                </div>-->


            </div>
        </div>
    </div>
    <!--/The modal for get online appointment-->
    <!--scroll top section-->
    <div class="scroll-to-top">
        <div class="scrollup hvr-float" style="display: block;"> <i class="fa fa-long-arrow-up"></i> </div>
    </div>
    <!--/scroll top section-->
</div>